
 <nav class="navbar navbar-light bg-light justify-content-between">
     <a class="navbar-brand text-center "></a>
     <div class="d-flex">
         <a class="nav-link" href="/login">Login</a>
         <a class="nav-link" href="/signup">Sign Up</a>
     </div>
 </nav>
 <div class="p-5 text-center bg-light">
 <img src="/images/shopping.jpg" width="80" height="70">
     <h1 class="mb-3">Welcome to the Online Shopping..</h1>
     <h4 class="mb-3">More Offers are there Hurry Up..!</h4>
     <a class="btn btn-primary" href="/signup" role="button">Call to action</a>
 </div>

