   <div class="col-2 bg-light">
       <ul class="navbar-nav flex-column w-100 justify-content-center">
           <li class="nav-item">
               <a href="/orders" class="nav-link active"> My Orders</a>
           </li>
           <li class="nav-item">
               <a href="/add_address" class="nav-link">Address</a>
           </li>
           <li class="nav-item">
               <a href="#" class="nav-link">My Rewards </a>
           </li>
           <li class="nav-item">
               <a href="#" class="nav-link">My Cart </a>
           </li>
       </ul>
   </div>